
@use 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  cursor: none; /* Hide default cursor */
}

a {
  color: inherit;
  text-decoration: none;
}
